/* 사전 설정 */

@font-face {
  font-family: 'M';
  src: url("/font/NotoSansKR-Medium.otf") format('opentype')
}

@font-face {
  font-family: 'R';
  src: url("/font/NotoSansKR-Regular.otf") format('opentype')
}

@font-face {
  font-family: 'L';
  src: url("/font/NotoSansKR-Light.otf") format('opentype')
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'L';
  background-color: #f1f1f1;
  color: #707070;
  line-height: 30px;
}

/* 텍스트 전역 설정 */

.title{
  margin-bottom: 30px;
  font-size: 20px;
  text-align: center;
}

.subtitle{
  font-size: 15px;
  text-align: center;
}

.title-left{
  margin-bottom: 30px;
  font-size: 20px;
  text-align: left;
  float: left;
}

.subtitle-left{
  font-size: 15px;
  text-align: left;
  float: left;
}

.title-right{
  margin-bottom: 30px;
  font-size: 20px;
  text-align: right;
  float: right;
}

.subtitle-right{
  font-size: 15px;
  text-align: right;
  float: right;
}

.web-link{
  margin-top: 30px;
  font-size: 15px;
  text-align: left;
  float: left;
  color: red;
  width: 130px;
}

/* 햄버거 메뉴 버튼 */

.hamburger-button {
  position: fixed;
  width: 25px;
  height: 7vh;
  right: 3%;
  z-index: 3000;
  display: none;
  justify-content: center;
  align-items: center;
}

.hamburger-button span {
  position: absolute;
  align-items: center;
  height: 2px;
  border-radius: 4px;
  width: 90%;
  background-color: #545454;
  margin-top: 30px;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.hamburger-button span:nth-child(1) {
  top: 0px;
}

.hamburger-button span:nth-child(2),
.hamburger-button span:nth-child(3) {
  top: 9px;
}

.hamburger-button span:nth-child(4) {
  top: 18px;
}

.hamburger-button.active span:nth-child(1),
.hamburger-button.active span:nth-child(4) {
  opacity: 0;
}

.hamburger-button.active span:nth-child(2) {
  transform: rotate(45deg);
}

.hamburger-button.active span:nth-child(3) {
  transform: rotate(-45deg);
}

.menu{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  color: black;
  font-size: 20px;
} 

.overlay-menu{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.8s ease-in-out;
  z-index: 2000;
  align-items: center;
}

.overlay-menu.visible{
  height:100%;
  opacity: 1;
  visibility: visible;
}

@keyframes fadeInLeft{
  0% { opacity: 0; transform: translateX(-25%);}
  100% { opacity: 1; transform: translateX(0);}
}

.overlay.visible li{
  animation: fadeInLeft 0.3s ease forwards;
}

@media (max-width:1024px) {
  .hamburger-button{
    display: flex;
  }
}

/* Index.tsx */

.main-container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  left: 5%;
  right: 5%;
  height: 100vh;
}

.main-link{
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  object-fit: contain;
  height: 100%;
  width: 90%;
  margin-top: 10vh;
  margin-bottom: 8vh;
}

.main{
  filter: brightness(75%);
  display: flex;
  transition: 1s;
  justify-content: center;
  text-align: center;
}

.main:hover{
  filter: brightness(100%);
  transition: 1s;
}

.main-title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  letter-spacing: 7px;
  z-index: 200;
}

/* About.tsx */

.about{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  top: 15vh;
  align-items: center;
}

.about-text{
  position: relative;
  display: flex;
  flex-direction: column;
}

.contact{
  margin-top: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.imgs{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  align-items: center;
}

.img{
  align-items: center;
  margin-left: 3%;
  margin-right: 3%;
  transition: 0.5s;
}

.img img{
  width: 30px;
  height: 30px;
}

.img:hover{
  filter: invert(16%) sepia(89%) saturate(3054%) hue-rotate(358deg) brightness(97%) contrast(113%);
  transition: 0.5s;
}

@media (max-width:1024px) {

  .about-img img{
    width: 200px;
    height: 200px;
  }
  
}

@media (max-width:750px) {
  
  .hamburger-button{
    right: 5%;
    scale: 90%;
    width: 23px;
  }

  .hamburger-button span{
    margin-top: 16px;
    height: 1.0px;
  }

  .hamburger-button span:nth-child(2), .hamburger-button span:nth-child(3) {
    top: 7.5px;
  }

  .hamburger-button span:nth-child(4){
    top: 15px;
  }

  .menu{
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .main-title{
    font-size: 15px;
    letter-spacing: 3px;
  }
  
  .main-link{
    margin-top: 8vh;
    height: 70%;
    overflow: hidden;
  }

  .about-img img{
    width: 100px;
    height: 100px;
  }

  .about{
    align-items: start;
  }

  .title-left{
    font-size: 15px;
  }

  .subtitle-left{
    font-size : 13px;
  }

  .web-link{
    font-size: 13px;
  }
  
}